{% load static%}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live weather App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    
    <div class="container">
        <h1>Weather App</h1>


        <form method="POST">

            {%csrf_token%}
            <input type="text" name="city" placeholder="Enter City">
            <button type="Submit"> Search </button>

        </form>
        <div class="weather">

            <div class="left">
                <h2>
                    {{temp}}&#176; C
                </h2>
                <h3>{{city}}</h3>
            </div>
            <div class="right">
                <div class="icon">
                    <p> <img src="http://openweathermap.org/img/w/{{icon}}.png" width="100px"></p>

                </div>
                <div class="condition">

                    <p>
                        {{description }}
                    </p>
                    <p>{{day}}</p>
                </div>

            </div>
        </div>

</body>

</html>